* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EFEFEF;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.promo {
    background: url("../img/Main_bg.jpg") center center /cover no-repeat;
    padding: 22px 0 53px 0;
}


.title {
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;

}

.title__colored {
    color: #F9BF3B;
    font-size: 41px;
    line-height: 41px;
    margin-bottom: 12px;
}

.promo h2:last-of-type {
    margin-bottom: 20px;
}


.title__big {
    color: #fff;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 12px;
}

.logo__img {
    margin: 0 auto 13px auto;
    display: block;
}

.logo__text {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 52px;
}

.promo__text {
    font-size: 21px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    /* text-transform: uppercase; */

}

.btn {
    font-size: 21px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    width: 315px;
    height: 72px;
    border-radius: 4px 0px 0px 0px;
    display: block;
    margin: 75px auto 0 auto;
    background: linear-gradient(0deg, #FF4D00 0%, #FEB05D 100%);
    outline: none;
    border: none;
    cursor: pointer;
}

.promo__more-text {
    height: 18px;
    text-align: center;
    font-size: 15px;
    margin-top: 75px;
    color: #fff;
    margin-bottom: 10px;
}

.promo__more-img {
    margin: 0 auto 0 auto;
    display: block;
}

.intensive {
    padding-top: 80px;
    padding-bottom: 80px;
}

.intensive__title {
    font-weight: 500;
    font-size: 30px;
    color: #252525;
    margin-bottom: 14px;
}

.divider {
    width: 220px;
    height: 7px;
    background-color: #F9BF3B;
    margin: 0 auto;
    margin-bottom: 15px;
}

.intensive__subtitle {
    text-align: center;
    color: #4A4A4A;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 42px;
}

.intensive__wrapper {
    display: flex;
    justify-content: space-between;
}

.intensive__item {
    width: 360px;
}

.intensive__img {
    width: 100%;
    margin-bottom: 15px;
}

.intensive__text {
    color: #4A4A4A;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.info {
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #0f0b0b;
}

.info__title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    color: #F9BF3B;
    text-align: right;
    margin-bottom: 16px;
}

.text__container {
    width: 750px;
    display: inline-block;
    text-align: right;
}

.info__text {
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    margin-bottom: 32px;
    text-align: right;
}

.medium {
    font-weight: 500;
}


.skills {
    background: url("../img/Bg.jpg") center center /cover no-repeat;
    padding-top: 78px;
    padding-bottom: 102px;
}

.skills__title {
    color: #EFEFEF;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 30px;
}

.skills__wrapper {
    display: flex;
    justify-content: space-between;
}

.skills__item {
    width: 224px;

}

.skills__circle {
    width: 115px;
    height: 115px;
    background-color: #F9BF3B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 40px;
}

.skills__img {
    width: 60px;
    height: 60px;
}

.skills__text {
    width: 224px;
    height: 19px;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.75px;
    text-align: center;
    color: #EFEFEF;
}


.prize {
    padding-top: 80px;
    padding-bottom: 80px;
}

.prize__img {
   display: block;
    margin: 0 auto;
    margin-bottom: 80px;
}

.prize__text {
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    color: #252525;
    margin-bottom: 60px;
}